<h1>Editing <%= @service_credential.name %></h1>

<br />

<%= render 'form' %>

<%= link_to 'Show', @service_credential, :class => "link_img" %>
<%= link_to 'Cancel', service_credentials_path, :class => "link_img" %>

<div class="clearer"></div>
