<div id='wf_menu'>
  <ul class= 'nav'>
    <li id="wf_tab_myexp" class="wf_tab">
      <a href="javascript:showonlyone('wf_myexp_div','wf_tab_myexp')">
        <span>search in my experiment</span>
      </a>
    </li>
    <li id="wf_tab_local" class="wf_tab">
      <a href="javascript:showonlyone('wf_local_div','wf_tab_local')">
        <span>search locally </span>
      </a>
    </li>
  </ul>
</div>
