<div id="tabs_add_wf">
  <ul>
    <li><a href="#search_myexp">search in my experiment</a></li>
    <li><a href="#search_local">search locally</a></li>
  </ul>
  <%= render :partial => 'add_workflow_myexperiment', :locals => {:workflow => @workflow} %>
  <%= render :partial => 'add_workflow_local', :locals => {:workflow => @workflow} %>
</div>
