<div id="wf_description_div" class="workflow_part" style="display: block">
<p>
  <b>Description:</b>
  <%= simple_format(@workflow.description) %>
</p>
<p>
  <b>Workflow file:</b>
  <%= @workflow.workflow_file %>
</p>	
</div>

