<div id="wf_description_div" class="workflow_part" style="border: 1px solid hsla(80, 90%, 40%, 0.7); display: block;padding: 5px;">
<p>
  <b>Description:</b>
  <%= simple_format(@workflow.description) %>
</p>
<p>
  <b>Workflow file:</b>
  <%= @workflow.workflow_file %>
</p>	
</div>


