<div id="wf_description" style="height:300px;overflow:auto;">
<p>
  <b>Workflow file:</b>
  <%= @workflow.workflow_file %>
</p>	
<p>
  <b>Description:</b>
  <%= simple_format(@workflow.description) %>
</p>
</div>

