    <div id='footer'>
      <div style='float: left'>
        <img alt='FP7' src='/assets/fp7.png'>
        <img src='/assets/einfrastructure.png'>
      </div>
      <div style='float: left; margin-top: 1em;'>
       <a href='http://www.biovel.eu'>BioVeL</a> is funded by the European Commission 7th Framework Programme (FP7),<br/> 
       through the grant agreement number 283359.
      </div>
      <div class='clearer'></div>
    </div>
  
