  <div id='footer'>
    <div style='float: left'>
      <img alt='FP7' src='/assets/fp7.png'  height="60">
      <img alt='e-infrastructure' src='/assets/einfrastructure.png' height="60">
    </div>
    <div style='float: left; '>
      <a href='http://www.biovel.eu'>BioVeL</a> 
        is funded by the European Commission 7th Framework Programme (FP7),<br/> 
        through the grant agreement number 283359.
    </div>
    <div style='float: right;'>Beta Version 0.3.4</div>
    <div class='clearer'></div>
  </div>
  
