    <div class='header'>
      <div class='container'>
        <div id='logo'>
          <div class='biovel-logo'>
            <a href='http://www.biovel.eu'>
              <img alt='BioVeL' src='/assets/biovel.png'>
            </a>
          </div>
          <a class='header-title' href='/'>
            BioVeL Taverna Lite Prototype 0.3.0
          </a>
        </div>
        <div class='taverna-logo'>
          <a href='http://www.taverna.org.uk/' target='_blank'>
            <img alt='myGrid' src='/assets/taverna-wheel-logo.png'>
          </a>
        </div>
      </div>
    </div>
    <div class='clearer'></div>

  
