<div class='container'>
    <a href='/' class = 'link_img'>
      <img alt='Home' src='/assets/biovel.png' width="18" height="18">
      Home
    </a>
         <a href='/workflows' class = 'link_img'>
          <img alt='Workflows' src='/assets/cog.png'>
          Workflows
        </a>
        <a href='/runs' class = 'link_img'>
          <img alt='Workflow Runs' src='/assets/table.png'>
          Runs
        </a>
  <% if !current_user.nil? && current_user.admin %>
          <a href='/credentials' class = 'link_img'>
            <img alt='Home' src='/assets/taverna-server-logo92x92.png' width="18" height="18">
            Settings
          </a>
            <a href='/announcements' class = 'link_img'>
              <img alt='Announcement' src='/assets/transmit.png' width="18" height="18">
              Notices
            </a>
  <% end %>
</div>

