    <div class='container'>
      <div class='menu'>
        <ul class='nav'>
          <li class='page_item'>
            <a href='/'>
              <img alt='Home' src='/assets/biovel.png' width="18" height="18">
              Home
            </a>
          </li> 
          <% if current_user %>   
          <li class='page_item'>
            <a href='/workflows'>
              <img alt='Workflows' src='/assets/cog.png'>
              Workflows
            </a>
          </li>
          <li class='page_item'>
            <a href='/runs'>
              <img alt='Workflow Runs' src='/assets/table.png'>
              Runs
            </a>
          </li>
            <% if current_user.admin %>
              <li class='page_item'>
                <a href='/credentials'>
                  <img alt='Home' src='/assets/taverna-server-logo92x92.png' width="18" height="18">
                  Settings
                </a>
              </li>
            <% end %>
            <li class='page_item'>
              <a href='log_out'>
                 Logout
              </a>
            </li>
          <% else %>
            <li class='page_item'>
              <a href='log_in'>
                Login
              </a>
            </li>
            <li class='page_item'>
              <a href='sign_up'>
                Sign Up
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  
