<div class='container'>
  <div id="user_log_in">
    <% if !current_user.nil? %> 
      <img alt='U:' src='/assets/user.png' >
      Logged in as <b><%=current_user.name%></b> |
      <a href='/log_out'>
        <img alt='X:' src='/assets/door_out.png' >
        Log Out
      </a>
    <% else %>
      You are currently a Guest user |
      <a href='log_in'>
        <img alt='I:' src='/assets/door_in.png' >
        Log In
      </a>
     |
      <a href='sign_up'>
        <img alt='R:' src='/assets/book_open.png' >
        Register
      </a>
    <%end%>
  </div>
</div>
