<div id="benefits" style="float:left;">
<p>
By creating an account you will gain access to a number of features:
</p>
<ul class="list">
  <li>
    Upload your own workflows
  </li>
  <li>
    Search for workflows on 
    <%= link_to 'my experiment', 'http://www.myexperiment.org' %> 
  </li>
  <li>
    Share your workflows with the BioVeL users 
  </li>
  <li>
    Keep run results for longer. 
  </li>
</ul>

<div>
