<% 
# Copyright (c) 2012-2013 Cardiff University, UK.
# Copyright (c) 2012-2013 The University of Manchester, UK.
#
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
# 
# * Redistributions of source code must retain the above copyright notice,
#   this list of conditions and the following disclaimer.
# 
# * Redistributions in binary form must reproduce the above copyright notice,
#   this list of conditions and the following disclaimer in the documentation
#   and/or other materials provided with the distribution.
# 
# * Neither the names of The University of Manchester nor Cardiff University nor
#   the names of its contributors may be used to endorse or promote products
#   derived from this software without specific prior written permission.
# 
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
# 
# Authors
#     Abraham Nieva de la Hidalga
#     Finn Baccall
#     Robert Haines
# 
# Synopsis 
# 
# BioVeL Taverna Lite  is a prototype interface to Taverna Server which is 
# provided to support easy inspection and execution of workflows.
# 
# For more details see http://www.biovel.eu
# 
# BioVeL is funded by the European Commission 7th Framework Programme (FP7),
# through the grant agreement number 283359. 
%>
<% content_for :title, "BioVeL Portal"%>
<div style="float:left;width:65%">
<h1>Welcome to BioVeL Portal</h1>
</br>
<p>
  The BioVeL Portal allows uploading, searching, reviewing and running Workflows
 without the need of installing or configuring additional software. 

</p>
<p>
The main features of BioVeL Portal include:
<ul>
<li>Uploading your own workflows</li>
<li>Searching for workflows on 
  <a href="http://www.myexperiment.org">my experiment</a>
</li>
<li>Reviewing workflow features</li>
<li>Running workflows</li>
<li>Downloading workflows</li>
<li>Viewing Results</li>
<li>Downloading Results</li>
</ul>
</p>
<p>
You will be able to experiment using your own data and share your workflows with
the BioVeL community.
</p>
<p>
If you require further processing or modifications, you can download existing
workflows and customise them using 
<a href="http://www.taverna.org.uk/download/workbench/">Taverna Workbench</a>.
</p>
</div>
<%= render :partial => 'partials/notice' %>


