<% content_for :title, "Taverna Lite"%>
<h1>Welcome to BioVeL Taverna Lite</h1>
</br>
<p>
This site will help you to start executing workflows and to save and retrieve your
results. 
</p>
<p>
You will be able to experiment using your own data and to share your own workflows with
the BioVeL community.
</p>
<p>
If you require further processing or deeper modifications, you can download existing
workflows and customise them using <a href="http://www.taverna.org.uk/download/workbench/">Taverna Workbench</a>.
</p>
