<% content_for :title, "Taverna Lite"%>
<h1>Welcome to BioVeL Taverna Lite</h1>
</br>
<p>
This site gives access to Taverna Lite, a light weight user interface which 
allows browsing, reviewing and running Taverna Workflows whitout the need of 
installing any software. 
</p>
<p>
The main features of Taverna Lite include:
<ul>
<li>Uploading your own workflows</li>
<li>Browse the main features of the workflows</li>
<li>Running workflows</li>
<li>Viewing Results</li>
<li>Downloading Results</li>
</ul>
</p>
<p>
You will be able to experiment using your own data and share your workflows with
the BioVeL community.
</p>
<p>
If you require further processing or modifications, you can download existing
workflows and customise them using 
<a href="http://www.taverna.org.uk/download/workbench/">Taverna Workbench</a>.
</p>
