<% content_for :title, "Taverna Lite"%>
<h1>Welcome to BioVeL Taverna Lite</h1>
</br>
<p>
  Taverna Lite allows uploading, searching, reviewing and running Workflows
 without the need of installing or configuring additional software. 

</p>
<p>
The main features of Taverna Lite include:
<ul>
<li>Uploading your own workflows</li>
<li>Searching for workflows on 
  <a href="http://www.myexperiment.org">my experiment</a>
</li>
<li>Reviewing workflow features</li>
<li>Running workflows</li>
<li>Downloading workflows</li>
<li>Viewing Results</li>
<li>Downloading Results</li>
</ul>
</p>
<p>
You will be able to experiment using your own data and share your workflows with
the BioVeL community.
</p>
<p>
If you require further processing or modifications, you can download existing
workflows and customise them using 
<a href="http://www.taverna.org.uk/download/workbench/">Taverna Workbench</a>.
</p>
