<h1>Welcome to BioVeL Taverna Lite</h1>
<!--% #if current_user %
  <p> Hi %= #h current_user.login %. </p>
% else %
  <p> Please % #= link_to "log in", login_path %, to use the 
      system, or % #= link_to "sign up", signup_path % for a new account.</p>
% # end % -->
<p>
This site will help you to get started in executing workflows for data analysis and allow you experimenting using your own data.
</p>
<p>
You will be able to save and retrieve results as well as submitting your own workflows to share with the BioVeL community.
</p>
<p>
If you require further processing or deeper modifications, you can also download existing workflows and use the Taverna Workbench for customising them.
</p>

