<% content_for :title, "Taverna Lite - Edit Settings for " + 
   @credential.name %>

<h1>Edit Settings for <%= @credential.name %></h1>

<%= render 'form' %>

<%= link_to 'Show', @credential %> |
<%= link_to 'Back', credentials_path %>
