<div id="interactionframe", data-interaction_id ="" >
  <% unless @interaction_uri.nil? %>
    <h2>INTERACTIONS</h2>
    <iframe src=<%= @interaction_uri %>; width="100%"; height="500" id="interactionframe"></iframe>
  <%else%>
    <% if @run.state == "running" %>
      <h2>Wait....</h2>
      <img alt='Processing' src='/assets/spinner.gif' width="18" height="18">
    <% end %>
  <% end %>
</div>
