<div id="interactionframe", data-interaction_id ="" >
  <% unless @interaction_uri.nil? %>
    <h2>INTERACTIONS</h2>
    <iframe src=<%= @interaction_uri %>; width="100%"; height="500" id="interactionframe"></iframe>
  <% end %>
</div>
