/* **************** from layout/2col-l.css ****************** */

.upper-wrap {
    margin: 0 auto;
    padding-top: 12px;
    position: relative;
}
.header{
    height: 60px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #77BB11 #bbb866;
}

.container { margin: 0 auto; }
#content {  }

.biovel-logo { position: relative; float:left; width: 92px; height: 92px; }
.biovel-logo img {position: absolute; top: -8px; left: 10px; }

.taverna-logo { position: relative; float: right; width: 92px; height: 92px; }
.taverna-logo img {position: absolute; top: -8px; right: 10px; }

.header-title { float: left; margin: 14px 0 0 3px; font-weight: bolder;}

.omii-uk-logo { float: right; height: 56px;/* background: #8699af;*/ padding: 29px 9px; }
.mygrid-logo { float: right; margin-top: 6px; margin-right: 20px;}

.menu {
  padding-right: 1px;
  overflow:  hidden;
  background: url("gradient.png") repeat scroll 0 0 transparent;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #77BB11 #ddda88 #bbb866;
}

.menu ul {
  margin-bottom: 0px;
  width: auto;
  border-right: 1px solid #DDDA88;
}

#content { /*padding-top: 10px;*/ }

#window { position: relative; height: 260px; }
.inline-list { position: absolute; top: 100px; right: 0px;}
.inline-text { position: absolute; top: 15px; left: 25px;}
#window img.background { height: 260px; width: 950px; }
.inline-title { 
	float: left;
	display: block;
	padding: 5px 10px 5px 10px;
	font-size: 28px;
	line-height: 1.2;
}
.inline-tagline {
	padding: 5px 10px 8px 10px;
	float: left;
	display: block;
	font-weight: normal;
	font-size: 1.35em;
	line-height: 1.4;
}

.inline-list .l1,
.inline-list .l2,
.inline-list .l3
{
	float: right;
	display:block;
	padding: 5px 10px 5px 10px;
}

.hentry { position: relative; }
.post { clear:both;  padding-bottom: 25px; background:transparent url(entry.png) no-repeat scroll center bottom;}
.cal-date { text-align: center; font-family: Helvetica, Arial, sans-serif; position: absolute; top: 4px; left: 0; width: 65px; padding: 10px 4px; color: #414c58; background: #fff; 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	}
	.cal-date .date { display: block; font-size: 2.5em; font-weight: bold; }
	.cal-date span { line-height: 1em;}
	.cal-date .month { font-size: 1.3em; font-weight: bold; }
	.cal-date .year { font-size: 1.3em; font-weight: bold; }
.post-entry { margin-left: 92px; width: 520px; }
.post-entry hr { /*border: 1px dotted #8699af; margin: 4px 0;*/ border-color: #fff; }

/* ALTERNATIVE METHOD IF BUGS ARISE.
.hentry {
	overflow: hidden;
}

.cal-date {
	width: 75px;
	float: left;
}

.post-entry {
	float: right;
	width: 550px;
}*/

/*home page template */

.styled-rule { 
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
/*background:transparent url(entry.png) no-repeat scroll center bottom;*/
clear:both;
/*padding-bottom:5px;
margin-bottom: 20px;*/ }

.hfeed-full { position: relative; padding: 8px 0; }

.homepage-content-wrap { background: #c7d4e1; -moz-border-radius: 10px;
-webkit-border-radius: 10px; padding: 15px; }
.homepage .entry-title {margin-bottom: 12px; color: #414c58; border-bottom: 1px solid #a0b1c3;}
.homepage .entry-content { color: #414c58; }

.homepage .entry-content li { margin-bottom: 2px;}

.hfeed { padding: 0; }
#breadcrumbs {  margin-bottom: 5px; /*background: #d3deea; */ }
#breadcrumbs hr { border-color: #fff; }
.aside { width: 195px; float: left;  padding: 10px 18px; }

.hfeed .entry-content {
	margin-top: 15px;
}


/* ******************** from css/base.css ********************* */

/* Document Body */
body, input, textarea { font: 16px/1.5 Helvetica, Arial, sans-serif; }
/*body, input, textarea { font: 13px/1.5 Georgia, "Times New Roman", Times, serif; }*/
body { background-color: #EEEB99; }

/* Font Styles */
.serif { font-family: Arial, Helvetica, sans-serif; /*font-family: Georgia, "Times New Roman", Times, serif;*/ }
.sans-serif { font-family: Arial, Helvetica, sans-serif; }

/* Vertical Rhythm  */
.entry-meta { margin-bottom: 10px; }
p, pre, ul, ol, dl, dd, blockquote, address, table, fieldset, form, .gallery-row, .comment-list ul, .comment-list ol { margin-bottom: 20px; }
/*.hentry*/.post, .widget, .comment, .navigation-links { margin-bottom: 40px; }
/* remove margins from #footer p */
/*.footer p { margin: 0; }*/

/* Logo */
#logo, .header-title { font-size: 36px; line-height: 30px; color: #287621; /*font-weight: bold;*/ }
.header-title:hover { text-decoration: none; }
#tagline { color: #333; }

/* Menu */
.nav { font-size: 17px; font-family: Helvetica, Arial, sans-serif; float: left; line-height: 1; color: #287621; width: 100%; }
.nav, .nav * { list-style: none; margin-left: 0; }
.nav li { float: left; padding: 0; position: relative; }
.nav ul li { font-size: 14px; width: 100%; }

.nav a { display: block; position: relative; color: #287621;  padding: 6px 14px; }

/* Hides items under top menu */
.nav ul { position: absolute; top: -9999em; width: 20em; /* left offset of submenus need to match (see below) */ }

/* Shows submenus */
.nav li:hover ul,
.nav li.nav-hover ul { left: 0px; top: 29px; /* match top ul list item height */ z-index: 99; }

/* Hides all sub items (4 levels deep) */
.nav li:hover li ul,
.nav li.nav-hover li ul,
.nav li li:hover li ul,
.nav li li.nav-hover li ul,
.nav li li li:hover li ul,
.nav li li li.nav-hover li ul { top: -999em; }

/* On :hover, displays all sub items (4 levels deep) */
.nav li li:hover ul,
.nav li li.nav-hover ul /*,
.nav li li li:hover ul,
.nav li li li.nav-hover ul,
.nav li li li li:hover ul,
.nav li li li li.nav-hover ul*/ { left: 20em; /* match .nav ul width */ top: -1px; }

/* Default Skin
.nav { border: 1px solid; border-color: #aaa #ddd #ddd #aaa; }
.nav ul { border: 1px solid #ddd; border-bottom: none; }
.nav ul li a { border-bottom: 1px solid #ddd; }
.nav li:hover ul,
.nav li.nav-hover ul { background: #fff; }

.nav a { color: #666; border-right: 1px solid #ccc; }
.nav a:hover { text-decoration: none; background: #fafafa; }
.nav ul a { border-right: none; }
.nav li:hover, .nav li.nav-hover,
.nav a:focus { background: #fafafa; }*/

/* Nav Skin */
.nav { /*border: 1px solid; border-color: #aaa #ddd #ddd #aaa;*/ }
.nav ul { /*border: 1px solid #ddd; border-bottom: none; */}
.nav ul li a { border-bottom: 1px dashed #777; }
.nav li:hover ul,

.nav a { color: black; /*border-right: 1px solid #ccc;*/ }
.nav a:hover { text-decoration: none;}

.nav ul a { border-right: none; }
.nav li:hover, .nav li.nav-hover,

/* Highlight current item in sidebar menu */

.current_page_item > a{
	color: #FFD38F !important;
}
.current_page_item {
        color: #FFD38F !important;
}
.current_page_item li{
        color: #FFFFFF !important;
}
/* Add a bit of shadow to the navigtion title on the left-hand sidebar menu */
.widget-title{
}

/* Menu bugfix */
.ie7 .nav:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }

/* Links */
a { color: #287621; text-decoration: none; }
a:hover { text-decoration: underline; }
.entry-content a:link, .entry-content a:active, .entry-content a:visited { text-decoration: none; color: #287621; padding: 0px; margin: 0px; }
.entry-content a:hover { text-decoration: none; }

.entry-content a.more-link { text-decoration: underline; color: #333; }
.entry-content a.more-link:hover { text-decoration: none; }

/* Headings */
h1, h2, h3, h4, h5, h6 { font-weight: normal; clear: both; }
h1 { font-size: 22px; line-height: 26px; padding: 5px 0px; font-family: Helvetica,Arial,sans-serif; font-weight: bold; }
h2 { font-size: 20px; line-height: 22px; padding: 5px 0px; font-family: Helvetica,Arial,sans-serif; font-weight: bold; }
h3 { font-size: 20px; line-height: 22px; padding: 5px 0px; }
h4 { font-size: 14px; line-height: 18px; padding: 5px 0px; }
h5 { font-size: 12px; line-height: 18px; padding: 5px 0px; }
h6 { font-size: 10px; line-height: 16px; }

/* Side bar */
.aside { font-family: Arial, Helvetica, sans-serif; }

/* Content */
.page-title { font-size: 14px; font-weight: bold; }
.page-title span { font-style: italic; font-weight: normal; }
.entry-title, .entry-title a { color: #414c58; font-size: 26px; line-height: 28px; /*font-size: 24px; line-height: 28px;*/ }
.entry-title a:hover { /*color: #2361a1;*/ text-decoration: underline; }

.entry-content { font-size: 15px; }

/* Text Elements */
address { font-style: italic; }
abbr[title], acronym[title], dfn[title] { cursor: help; border-bottom: 1px dotted #666; }

/*blockquote { color: #666; font-style: italic; border-left: 1px solid #ddd; margin-left: 15px; padding-left: 10px; }*/
blockquote {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(quoteme.gif) no-repeat scroll 25px 20px;
	background-color: #fff;
/*	margin:0 0 20px;*/
	padding:15px 25px 5px 65px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

}

strong { font-weight: bold; }
em, dfn, cite { font-style: italic; }
dfn { font-weight: bold; }

sup { bottom: 1ex; }
sub { top: .5ex; }
small { font-size: 12px; }

del { text-decoration: line-through; }
ins { text-decoration: underline; }

code, pre {  line-height: 15px; }
var, kbd, samp, code, pre { font: 12px/1.4 Consolas, "Andale Mono", Courier, "Courier New", monospace; }
kbd { font-weight: bold; }
samp, var { font-style: italic; }
pre { white-space: pre; overflow: auto; padding: 10px; border: 1px solid #ddd; clear: both; }
code { padding: 0px 3px; }

/* Lists: (ul, ol, dl) */
ul, ol, dl { margin-left: 15px; }
.nav { margin-left: 0px; }
.entry-content ul, .entry-content ol, #search-query { margin-left: 25px; }

li ul, li ol { margin-bottom: 0; }
ul ul, ol ol, ul ol, ol ul { margin-bottom: 0; }

ol { list-style-type: decimal; }

ul { list-style-type: disc; }
ul ul { list-style-type: circle; }
ul ul ul { list-style-type: square; }

dt { font-weight: bold; }

.fat li { margin-bottom: 10px; }

/* Forms */
input, textarea, button {
  background: #f7f7f7;
  border: 1px solid #bbb866;
  border-radius: 5px;
  color: #444;
  font-size: 14px;
  padding: 3px;
}
textarea {
  padding: 8px;
}

button, input[type=submit] {
  padding: 2 2px;
  cursor: pointer;
  background: url("gradient.png") repeat scroll 0 0 transparent;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #ddda88 #ddda88 #bbb866 #ddda88;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

button:hover, input[type=submit]:hover {
  background-image: url("gradient_green.png");
  border-color: #BBEA3E #99cc33 #99cc33 #99cc33;
  text-decoration: none;
}

input:focus, textarea:focus, button:hover { background: #fff; border-color: #BBEA3E; }

/* bugfix */
.safari input { padding: 0px 3px; }
.chrome input { padding: 1px 3px; }

/* Images */
img.alignleft { float: left; margin-right: 20px; margin-top: 5px; }
img.alignright { display: block; float: right; margin-left: 20px; margin-top: 5px; }
img.aligncenter { margin-left: auto; margin-right: auto; display: block; clear: both; margin-top: 5px; }

.wp-caption { text-align: center; }
.wp-caption img { margin: 0; padding: 0; border: 0 none; }
.wp-caption .wp-caption-text { margin: 0; padding: 5px; }

.wp-smiley { max-height: 13px; margin: 0 !important; } /* Prevent the smileys from breaking line-height */

/* Navigation */
.page-navigation .nav-next { float: left; }
.page-navigation .nav-previous { float: right; }
.single-page-navigation .nav-next { float: right; }
.single-page-navigation .nav-previous { float: left; }

/* Basic Alignments */
.alignleft { float: left; }
.alignright { float: right; }
.aligncenter { margin-left: auto; margin-right: auto; display: block; clear: both; }

.feedback label {      
      float: left;
      clear: both;
      width: 10em;
      padding-top: 0.5em;
}
.feedback input.field {
      width: 15em;
}
.feedback input {
      margin-top: 0.3em;
      margin-bottom: 0.3em;
}
.feedback textarea, .feedback input {
      margin-left: 0;
}


/* ************************ from css/screen.css ********************* */
.upper-wrap { background-color: #99CC33; }
.header{ background-color: #BBEA3E; }

#container-main { 
    margin-bottom: 5px;
}

.entry-content { color: #444; /*#414c58*/ }

.entry-header {
	position: relative;
	margin-top: 4px;
}

.entry-header .tag-icon {
	position: absolute;
	top: -2px;
}

.entry-tags {
	margin-left: 32px;
}

.entry-tags a{
	padding: 5px;
	background: #96aac3;
	color: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.entry-tags a:hover {
	text-decoration: none;
	background: #a2b4c8;
}

.aside { background-color: #7589a1; color: #fff; }
.aside a {color: #fff; }

.enclosed { background: #dce5ef;
            padding: 10px; 
            margin-bottom: 20px; 
            border-radius: 10px;      
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px; 
            word-wrap: break-word ;}

.outer-enclosed {
    background: url("cogs.jpg") repeat-y top right #FFFFCC;
    color: #333;
    padding: 5px 15px 15px 15px;
    word-wrap: break-word;
    border-style: solid;
    border-width: 0 1px;
    border-color: #bbb866;
    min-height: 400px;
}

/*
.external-link { padding-top: 0px; padding-right: 13px; padding-bottom: 0px; 
	padding-left: 0px; text-decoration: none; color: #4f82cb; 
	background-image: url(external.png); background-repeat: no-repeat; 
	background-attachment: initial; -webkit-background-clip: initial; -webkit-background-origin: initial;
	background-color: initial; background-position: 100% 50%; margin: 0px; }
*/

/*.cakebake { background: #fff; 	padding: 15px; margin-bottom: 25px; -moz-border-radius: 10px;
	-webkit-border-radius: 10px;}*/
	
.ddet_div {
	  padding: 8px;
	  background: #F4F4F4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	}


.nav .page_item {
    width: 8em;
    border-width: 0 1px;
    border-style: solid;
    border-color: transparent #ffffcc transparent #ddda88;
}

.nav li.page_item:hover {
    background-image: url("gradient_green.png");
    border-width: 0 1px;
    border-style: solid;
    border-color: transparent #99cc33 transparent #99cc33;
}

.nav .page_item img {
    vertical-align: middle;
}

.nav .page_item a {
    color: black;
}

.clearer {
    clear: both;
}


/* Tables */
table .even { background: #ddd; }

caption { text-align: left; }

td, th {  padding: 0 10px;}

td, th { border: 1px solid #666;}

table {
  border-collapse: collapse;
  font-size: 13px;
}

th {
  background-image: url("gradient_green.png");
  font-size: 120%;
  font-weight: bold;
  height: 30px;
}

td {
  background-color: #fff;
}

td input[type=submit] {
  margin-top: 1em;
}

td.results {
  text-align: center;
}

iframe {
  border: 1px dashed #bbb866;
  background-image: url("white30.png");
}

ul.list_result {
  list-style-type: none;
  margin-left: 8px;
}

ul.list_result li {
  padding-left: 16px;
  background: url("child.png") no-repeat left top;
}

div.breadcrumb {
  margin-bottom: 1em;
}

fieldset {
  margin-bottom: 5px;
}

td.finished {
  color: #333;
}

td.running {
  color: #333;
}

td.error {
  color: #a60000;
}

a.result_value {
  border: 1px solid #ccc;
  background-color: #FFF;
  padding: 0px 8px;
  display:inline-block;
  color: black;
  margin-bottom: 3px;
}

a.result_value:hover {
  text-decoration: none;
  background-color: #CF5;
}

a.result_value img {
  vertical-align: middle;
}
 
a.button {
  line-height: 30px;
  padding: 0px 20px;
  cursor: pointer;
  background: url("gradient.png") repeat scroll 0 0 transparent;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #ddda88 #ddda88 #bbb866 #ddda88;
  border-radius: 0;
  font-weight: bold;
  color: black;
  font-size: 14px;
  display: inline-block;
  margin-left: 1em;
}
 
a.button:hover {
   background-image: url("gradient_green.png");
   border-color: #BBEA3E #99cc33 #99cc33 #99cc33;
   text-decoration: none;
 }

h4 {
  margin-top: 0.5em;
  font-weight: bold;
}

.port_results, .workflow {
  border: 1px dotted #bbb866;
  padding: 0.5em;
  margin: 1em 0;
  background-image: url("white30.png");
}

.index_text {
  margin-top: 1em;
}

.index_text img {
  display: block;
  margin: auto;
  border: 1px solid #666;
}

#footer {
  background-color: #99cc33;
  padding: 1em;
  color: #355710;
  vertical-align: middle;
  border: 1px solid #77BB11;
}

#footer img {
  margin-right: 1em;
  vertical-align: middle;
}

#announcement {
  text-align: center; 
  margin-top: -5px; 
  margin-bottom: 0px; 
  padding: 3px; 
  border: 1px solid hsla(80, 90%, 40%, 0.7); 
  background: #EEEB99;
  color: rgb(153, 0, 0);
  font-size: 108%;
}

#error_explanation {
  text-align: center; 
  margin-top: -5px; 
  margin-bottom: 0px; 
  padding: 3px; 
  border: 1px solid hsla(80, 90%, 40%, 0.7); 
  background: #EEEB99;
  color: rgb(153, 0, 0);
  font-size: 108%;
}

#user_log_in {
  position:relative;
  margin-top: -36px; 
  margin-bottom: 0px; 
  padding: 2px; 
  border: 1px solid hsla(80, 90%, 40%, 0.7); 
  color: rgb(153, 0, 0);
  float: right;
  -moz-border-radius: 8px;
  -webkit-border-radius:  8px;
  border-radius: 8px;
}

.authentication {
  height: 35px;
  width: 60%;
  float: right;
  background:transparent;
  border: solid 1px #999;
  padding: 2px 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  margin-right: 5px;
}

.authentication img {
  margin-top: 2px;
  float: left;
  margin-right: 5px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 2px;
  text-align: center;
  padding: 2px;
  margin-bottom: 2px;
  background: url("gradient.png") repeat scroll 0 0 transparent;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #ddda88 #ddda88 #bbb866 #ddda88;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.link_img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.link_img {
  float: left;
  text-decoration: none;
  margin-right: 2px;
  text-align: center;
  padding: 2px;
  margin-bottom: 2px;
  background: url("gradient.png") repeat scroll 0 0 transparent;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #ddda88 #ddda88 #bbb866 #ddda88;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
